Django==1.4.2
PIL==1.1.7
boto==2.6.0
distribute==0.6.30
dj-database-url==0.2.1
django-celery==3.0.11
django-registration==0.8
django-storages==1.1.5
easy-thumbnails==1.1
gevent==0.13.8
greenlet==0.4.0
gunicorn==0.16.1
kombu==2.5.4
psycopg2==2.4.5
virtualenv==1.8.2
