{% extends 'base.html' %}
{% block body %}
<div class="buttonbar">
	<a href="/~{{listowner}}/tv"><img src="{{STATIC_URL}}tv.png" class="buttonoff" alt="tv"></a>
	<a href="/~{{listowner}}/movies"><img src="{{STATIC_URL}}movies.png" class="buttonoff" alt="movies"></a>
	<a href="/~{{listowner}}/books"><img src="{{STATIC_URL}}books.png" class="buttonoff" alt="books"></a>
	<a href="/~{{listowner}}/games"><img src="{{STATIC_URL}}games.png" class="buttonoff" alt="games"></a>
	<a href="/~{{listowner}}/music"><img src="{{STATIC_URL}}music.png" class="buttonon" alt="music"></a>
</div>



<div class="list">
<h3>
<div class="alignleft"><a href="/~{{ listowner }}" style="color: #f2f2f2;">{{ listowner }}</a> : music : edit</div>
</h3>
<div class="nontable">
{% if not user.username == listowner %}
<h4>Sorry, you're not allowed to edit that item.</h4>
{% else %}

{% if item_to_edit.created %}
<p class="inputcomment">Item created: <em>{{item_to_edit.created}}</em></p>{% endif %}
{% if item_to_edit.modified %}
<p class="inputcomment">Last modified: <em>{{item_to_edit.modified}}</em></p>{% endif %}

<div class="inputarea">


    {{ form.non_field_errors }}
{% if item_to_edit %}
<form action="/~{{listowner}}/music/edit/{{item_to_edit.id}}" method="POST" id="edit_form">{% csrf_token %}
	<input type="hidden" name="id" value="{{item_to_edit.id}}" />
	<input type="hidden" name="item_creator" value="{{user.username}}" />
	<input type="hidden" name="category" value="{{item_to_edit.category}}" />
	<input type="hidden" name="created" value="{{item_to_edit.created}}" />
	<input type="hidden" name="modified" value="{% now "DATETIME_FORMAT" %}" />
{% else %}
<form action="/~{{listowner}}/music/new" method="POST" id="edit_form">{% csrf_token %}
	<input type="hidden" name="item_creator" value="{{user.username}}" />
	<input type="hidden" name="category" value="music" />
	<input type="hidden" name="created" value="{% now "DATETIME_FORMAT" %}" />
	<input type="hidden" name="modified" value="{% now "DATETIME_FORMAT" %}" />
{% endif %}

    <div class="fieldWrapper">
        {{ form.artist.errors }} 
        <label for="id_artist">Artist:</label>
        {{ form.artist }}
    </div>
    <div class="fieldWrapper">
        {{ form.name.errors }} 
        <label for="id_name"><span class="green">*</span> Title:</label>
        {{ form.name }}
    </div>
    <div class="fieldWrapper">
        {{ form.type.errors }} 
        <label for="id_type">Type:</label>
        {{ form.type }}
		</div>
    <div class="fieldWrapper">
        {{ form.rating.errors }} 
        <label for="id_rating">Rating:</label>
		{{ form.rating }}
	</div>
    <div class="fieldWrapper">
        {{ form.comment.errors }} 
        <label for="id_comment">Comment:</label>
		{{ form.comment }}
	</div>

    <p><input type="submit" value="Save" /></p>
	</br>
	<p class="green"><small>* = required</small></p>
</form>


{% endif %}
</div>
{% endblock %}
