{% extends 'base.html' %}
{% block body %}
<div class="list">
<h3>
<div class="alignleft"><a href="/~{{ listowner }}">{{ listowner }}</a> : {{current}} : edit</div>
</h3>
<div class="nontable">

    {% if not user.username == listowner %}
    <h4>Sorry, you're not allowed to edit that item.</h4>
    {% else %}

<div class="inputarea">

{{ form.non_field_errors }}
{% if item_to_edit %}
<form action="/~{{listowner}}/{{current}}/edit/{{item_to_edit.id}}" method="POST" id="edit_form">{% csrf_token %}
	<input type="hidden" name="id" value="{{item_to_edit.id}}" />
	<input type="hidden" name="item_creator" value="{{user.username}}" />
	<input type="hidden" name="category" value="{{item_to_edit.category}}" />
	<input type="hidden" name="created" value="{{item_to_edit.created}}" />
	<input type="hidden" name="modified" value="{% now "DATETIME_FORMAT" %}" />
{% else %}
<form action="/~{{listowner}}/{{current}}/new" method="POST" id="edit_form">{% csrf_token %}
	<input type="hidden" name="item_creator" value="{{user.username}}" />
        {% if current == "tv" %}<input type="hidden" name="category" value="tv" />
        {% elif current == "movies" %}<input type="hidden" name="category" value="movie" />
        {% elif current == "books" %}<input type="hidden" name="category" value="book" />
        {% elif current == "games" %}<input type="hidden" name="category" value="game" />
        {% elif current == "music" %}<input type="hidden" name="category" value="music" />
        {% endif %}
	<input type="hidden" name="created" value="{% now "DATETIME_FORMAT" %}" />
	<input type="hidden" name="modified" value="{% now "DATETIME_FORMAT" %}" />
{% endif %}

    <div class="fieldWrapper">
        {{ form.name.errors }} 
        {% if current == "tv" or current == "movies" or current == "games" %}
        <label for="id_name">Name:</label>
        {% elif current == "music" or current == "books" %}
        <label for="id_name">Title:</label>
        {% endif %}
        {{ form.name }}
    </div>
    <div class="fieldWrapper">
        {{ form.artist.errors }} 
        <label for="id_artist">
            {% if current == "tv" %} Studio:
            {% elif current == "movies" %} Director:
            {% elif current == "books" %} Author:
            {% elif current == "games" %} Platform:
            {% elif current == "music" %} Artist:
            {% endif %}</label>
        {{ form.artist }}
    </div>
    <div class="fieldWrapper">
         {{ form.type.errors }} 
       <label for="id_type">Type:</label>
        {{ form.type }}
		</div>
    {% if current == "tv" or current == "books" or current == "games" %}
    <div class="fieldWrapper">
        {{ form.progress.errors }} 
        <label for="id_progress">Progress:</label>
        {{ form.progress }}
		</div>
    <div class="fieldWrapper">	
		<label for="id_finished" id="finished">Finished?</label>
		{{ form.finished }}
    </div>
    {% endif %}
    {% if current == "music" %}
    <div class="fieldWrapper">
        {{ form.progress.errors }} 
        <label for="id_progress">Year:</label>
        {{ form.progress }}
        </div>
   {% endif %}
    <div class="fieldWrapper">
        {{ form.rating.errors }} 
        <label for="id_rating">Rating:</label>
		{{ form.rating }}
	</div>
    <div class="fieldWrapper">
        {{ form.comment.errors }} 
        <label for="id_comment">Comment:</label>
		{{ form.comment }}
	</div>

    <p><input type="submit" value="Save" /></p>


{% if item_to_edit.created or item_to_edit.modified %}
<div class="inputcomment">
    {% if item_to_edit.created %}
    <p>Item created: <em>{{item_to_edit.created}}</em></p>{% endif %}
    {% if item_to_edit.modified %}
    <p>Last modified: <em>{{item_to_edit.modified}}</em></p>{% endif %}
</div>
{% endif %}



</form>


{% endif %}
</div>
{% endblock %}
