{% extends 'base.html' %}
{% block body %}
<div class="list">
<h3>
<span class="alignleft"><a href="/~{{ listowner }}">{{ listowner }}</a> : edit links</span>
</h3>
<div class="nontable">
<div class="inputarea">

<form action="" method="post">{% csrf_token %}

<p class="inputcomment">Add up to 3 links to your other profiles (Twitter, Facebook, etc).<br />
Max length: 100 characters. Please use full URLs ("http://...")</p>

	<p><label for="id_link1">Link 1:</label> <input id="id_link1" type="text" name="link1" maxlength="100" value="{{ currentlink1 }}" /></p>
	<p><label for="id_link2">Link 2:</label> <input id="id_link2" type="text" name="link2" maxlength="100" value="{{ currentlink2 }}" /></p>
	<p><label for="id_link3">Link 3:</label> <input id="id_link3" type="text" name="link3" maxlength="100" value="{{ currentlink3 }}" /></p>

	<p><input name="submit" value="Save" type="submit" />

</form>
</div>
</div>
</div>
{% endblock %}
