{% extends 'base.html' %}
{% block body %}
<div class="buttonbar">
{% if not user.is_authenticated %}
	<img src="{{STATIC_URL}}tv.png" class="buttonoff" height="70" width="70" alt="tv">
	<img src="{{STATIC_URL}}movies.png" class="buttonoff" height="70" width="70" alt="movies">
	<img src="{{STATIC_URL}}books.png" class="buttonoff" height="70" width="70" alt="books">
	<img src="{{STATIC_URL}}games.png" class="buttonoff" height="70" width="70" alt="games">
	<img src="{{STATIC_URL}}music.png" class="buttonoff" height="70" width="70" alt="music">
{% else %}
	<a href="/~{{user.username}}/tv"><img src="{{STATIC_URL}}tv.png" class="buttonoff" height="70" width="70" alt="tv"></a>
	<a href="/~{{user.username}}/movies"><img src="{{STATIC_URL}}movies.png" class="buttonoff" height="70" width="70" alt="movies"></a>
	<a href="/~{{user.username}}/books"><img src="{{STATIC_URL}}books.png" class="buttonoff" height="70" width="70" alt="books"></a>
	<a href="/~{{user.username}}/games"><img src="{{STATIC_URL}}games.png" class="buttonoff" height="70" width="70" alt="games"></a>
	<a href="/~{{user.username}}/music"><img src="{{STATIC_URL}}music.png" class="buttonoff" height="70" width="70" alt="music"></a>
{% endif %}
</div>



<div class="list">
<h3>
<div class="alignleft">welcome!</div>
</h3>
<div class="nontable"><h4><br /><p>
<span style="font-weight:bold;letter-spacing:-1px;">what<span class="green">.</span>it<span class="green">.</span>do</span> <span style="font-size:17px">is a tool to help you organize the things you love.<br /><br />
Catalog your collections, rate your favorites, keep track of your progress, and share your lists with your friends!</span></p><br /><br />
{% if not user.is_authenticated %}
<p>[ <a href="/accounts/login/">login</a> ] or [ <a href="/accounts/register/">create an account</a> ]

{% else %}
<p class="green">&lt; &lt; &lt; [Click on a list icon to get started.]</p>
{% endif %}

<div id="home_footer">
Version 1.0b // Powered by <a href="https://www.djangoproject.com/" target="_blank">Django</a> + <a href="http://www.heroku.com/" target="_blank">Heroku</a> // <a href="/contact/">Contact</a>
</div>
</div>
{% endblock %}
