{% extends 'base.html' %}
{% block body %}
<div class="list">

<h3>
<div class="alignleft"><a href="/~{{ listowner }}">{{ listowner }}</a> : {{current}}</div>

{% if user.username == listowner %}
<a href="/~{{listowner}}/{{current}}/new"><div class="alignright" id="newbutton">+</div></a>
{% endif %}
</h3>



{% if tvlist %}

<section id="tvlist">
<div class="listrow">
<div class="listhead numcol">#</div>
<div class="listhead namecol">Name</div>
<div class="listhead typecol phonehide">Type</div>
<div class="listhead artistcol mobilehide">Studio</div>
<div class="listhead progcol">Prog<span class="phonehide">ress</span><span class="desktophide tablethide">.</span></div>
<div class="listhead ratingcol phonehide">Rating</div>
<div class="listhead morecol">...</div>
</div>
{% for item in tvlist %}
<div class="listrow">
<div class="listcell numcol">{{ forloop.counter }}</div>
	{% if user.username == listowner %}
	<div class="listcell namecol"><a href="/~{{listowner}}/{{current}}/edit/{{item.id}}">{{ item.name }}</a> <span class="del"><a href="/~{{listowner}}/{{current}}/del/{{item.id}}" class="alignright">&times;</a></span></div>
	{% else %}
	<div class="listcell namecol">{{ item.name }}</a></div>
	{% endif %}
<div class="listcell typecol phonehide">{{ item.type }}</div>
<div class="listcell artistcol mobilehide">{{ item.artist }}</div>
<div class="listcell progcol">{{ item.progress }} {% if item.finished %}&#x2713;{% endif %}</div>
{% if not item.rating %}
<div class="listcell ratingcol phonehide">--</div>
{% else %}
<div class="listcell ratingcol phonehide">{{ item.rating }}</div>
{% endif %}
<div class="listcell morecol"><div class="arrow"></div></div>
<div class="listcell drawer">
	<span class="desktophide">
		{% if item.artist %}<p class="desktophide studiocom">{{ item.artist }}</p>{% endif %}
	<span class="tablethide">
		{% if item.type %}<p class="tablethide typecom">{{ item.type }}</p>{% endif %}
		{% if item.rating %}<p class="tablethide ratingcom">{{ item.rating }}</p>{% endif %}</span></span>
	<p class="comment">{{ item.comment }}</p>
</div>
</div>
{% endfor %}
</section>



{% elif movielist %}

<section id="movielist">
<div class="listrow">
<div class="listhead numcol">#</div>
<div class="listhead namecol">Name</div>
<div class="listhead artistcol mobilehide">Director</div>
<div class="listhead typecol phonehide">Type</div>
<!-- <div class="listhead progcol">Prog<span class="phonehide">ress</span><span class="desktophide tablethide">.</span></div> -->
<div class="listhead ratingcol">Rating</div>
<div class="listhead morecol">...</div>
</div>
{% for item in movielist %}
<div class="listrow">
<div class="listcell numcol">{{ forloop.counter }}</div>
	{% if user.username == listowner %}
	<div class="listcell namecol"><a href="/~{{listowner}}/{{current}}/edit/{{item.id}}">{{ item.name }}</a> <span class="del"><a href="/~{{listowner}}/{{current}}/del/{{item.id}}" class="alignright">&times;</a></span></div>
	{% else %}
	<div class="listcell namecol">{{ item.name }}</a></div>
	{% endif %}
<div class="listcell artistcol mobilehide">{{ item.artist }}</div>
<div class="listcell typecol phonehide">{{ item.type }}</div>
<!-- <div class="listcell progcol">{{ item.progress }} {% if item.finished %}&#x2713;{% endif %}</div> -->
{% if not item.rating %}
<div class="listcell ratingcol">--</div>
{% else %}
<div class="listcell ratingcol">{{ item.rating }}</div>
{% endif %}
<div class="listcell morecol"><div class="arrow"></div></div>
<div class="listcell drawer">
	<span class="desktophide">
		{% if item.artist %}<p class="desktophide directorcom">{{ item.artist }}</p>{% endif %}
	<span class="tablethide">
		{% if item.type %}<p class="tablethide typecom">{{ item.type }}</p>{% endif %}</span></span>
	<p class="comment">{{ item.comment }}</p>
</div>
</div>
{% endfor %}
</section>



{% elif booklist %}

<section id="booklist">
<div class="listrow">
<div class="listhead numcol">#</div>
<div class="listhead namecol">Name</div>
<div class="listhead artistcol">Author</div>
<div class="listhead typecol mobilehide">Type</div>
<div class="listhead progcol phonehide">Prog<span class="phonehide">ress</span><span class="desktophide tablethide">.</span></div>
<div class="listhead ratingcol phonehide">Rating</div>
<div class="listhead morecol">...</div>
</div>
{% for item in booklist %}
<div class="listrow">
<div class="listcell numcol">{{ forloop.counter }}</div>
	{% if user.username == listowner %}
	<div class="listcell namecol"><a href="/~{{listowner}}/{{current}}/edit/{{item.id}}">{{ item.name }}</a> <span class="del"><a href="/~{{listowner}}/{{current}}/del/{{item.id}}" class="alignright">&times;</a></span></div>
	{% else %}
	<div class="listcell namecol">{{ item.name }}</a></div>
	{% endif %}
<div class="listcell artistcol">{{ item.artist }}</div>
<div class="listcell typecol mobilehide">{{ item.type }}</div>
<div class="listcell progcol phonehide">{{ item.progress }} {% if item.finished %}&#x2713;{% endif %}</div>
{% if not item.rating %}
<div class="listcell ratingcol phonehide">--</div>
{% else %}
<div class="listcell ratingcol phonehide">{{ item.rating }}</div>
{% endif %}
<div class="listcell morecol"><div class="arrow"></div></div>
<div class="listcell drawer">
	<span class="desktophide">
		{% if item.type %}<p class="desktophide typecom">{{ item.type }}</p>{% endif %}
	<span class="tablethide">
		{% if item.progress or item.finished %}<p class="tablethide progcom">{{ item.progress }} {% if item.finished %}&#x2713;{% endif %}</p>{% endif %}
		{% if item.rating %}<p class="tablethide ratingcom">{{ item.rating }}</p>{% endif %}</span></span>
	<p class="comment">{{ item.comment }}</p>
</div>
</div>
{% endfor %}
</section>



{% elif gamelist %}

<section id="gamelist">
<div class="listrow">
<div class="listhead numcol">#</div>
<div class="listhead namecol">Name</div>
<div class="listhead artistcol">Platform</div>
<div class="listhead typecol mobilehide">Type</div>
<div class="listhead progcol phonehide">Prog<span class="phonehide">ress</span><span class="desktophide tablethide">.</span></div>
<div class="listhead ratingcol phonehide">Rating</div>
<div class="listhead morecol">...</div>
</div>
{% for item in gamelist %}
<div class="listrow">
<div class="listcell numcol">{{ forloop.counter }}</div>
	{% if user.username == listowner %}
	<div class="listcell namecol"><a href="/~{{listowner}}/{{current}}/edit/{{item.id}}">{{ item.name }}</a> <span class="del"><a href="/~{{listowner}}/{{current}}/del/{{item.id}}" class="alignright">&times;</a></span></div>
	{% else %}
	<div class="listcell namecol">{{ item.name }}</a></div>
	{% endif %}
<div class="listcell artistcol">{{ item.artist }}</div>
<div class="listcell typecol mobilehide">{{ item.type }}</div>
<div class="listcell progcol phonehide">{{ item.progress }} {% if item.finished %}&#x2713;{% endif %}</div>
{% if not item.rating %}
<div class="listcell ratingcol phonehide">--</div>
{% else %}
<div class="listcell ratingcol phonehide">{{ item.rating }}</div>
{% endif %}
<div class="listcell morecol"><div class="arrow"></div></div>
<div class="listcell drawer">
	<span class="desktophide">
		{% if item.type %}<p class="desktophide typecom">{{ item.type }}</p>{% endif %}
	<span class="tablethide">
		{% if item.progress or item.finished %}<p class="tablethide progcom">{{ item.progress }} {% if item.finished %}&#x2713;{% endif %}</p>{% endif %}
		{% if item.rating %}<p class="tablethide ratingcom">{{ item.rating }}</p>{% endif %}</span></span>
	<p class="comment">{{ item.comment }}</p>
</div>
</div>
{% endfor %}
</section>



{% elif musiclist %}

<section id="musiclist">
<div class="listrow">
<div class="listhead numcol">#</div>
<div class="listhead namecol">Name</div>
<div class="listhead artistcol">Artist</div>
<div class="listhead typecol phonehide">Type</div>
<div class="listhead progcol mobilehide">Year</div>
<div class="listhead ratingcol phonehide">Rating</div>
<div class="listhead morecol">...</div>
</div>
{% for item in musiclist %}
<div class="listrow">
<div class="listcell numcol">{{ forloop.counter }}</div>
	{% if user.username == listowner %}
	<div class="listcell namecol"><a href="/~{{listowner}}/{{current}}/edit/{{item.id}}">{{ item.name }}</a> <span class="del"><a href="/~{{listowner}}/{{current}}/del/{{item.id}}" class="alignright">&times;</a></span></div>
	{% else %}
	<div class="listcell namecol">{{ item.name }}</a></div>
	{% endif %}
<div class="listcell artistcol">{{ item.artist }}</div>
<div class="listcell typecol phonehide">{{ item.type }}</div>
<div class="listcell progcol mobilehide">{{ item.progress }}</div>
{% if not item.rating %}
<div class="listcell ratingcol phonehide">--</div>
{% else %}
<div class="listcell ratingcol phonehide">{{ item.rating }}</div>
{% endif %}
<div class="listcell morecol"><div class="arrow"></div></div>
<div class="listcell drawer">
	<span class="desktophide">
		{% if item.progress %}<p class="desktophide yearcom">{{ item.progress }}</p>{% endif %}
	<span class="tablethide">
		{% if item.type %}<p class="tablethide typecom">{{ item.type }}</p>{% endif %}
		{% if item.rating %}<p class="tablethide ratingcom">{{ item.rating }}</p>{% endif %}</span></span>
	<p class="comment">{{ item.comment }}</p>
</div>
</div>
{% endfor %}
</section>




{% else %}
<div class="nontable">
<h5>
Nothing here yet! {% if user.username == listowner %}<a href="/~{{listowner}}/{{current}}/new">[Add an item]</a>{% endif %}
</h5>
</div>
{% endif %}

{% if user.username == listowner %}
<div class="alignright desktophide tablethide"><a href="/~{{listowner}}/{{current}}/new"><div class="alignright" id="newbutton">new item</div></a></div>
{% endif %}


</div>

{% endblock %}
