{% extends 'base.html' %}
{% block body %}
<div class="list">
<h3>
<div class="alignleft"><a href="/~{{ listowner }}">{{ listowner }}</a> : sorting</div>
</h3>
<div class="nontable">
<div class="inputarea">
<form action="" method="post">{% csrf_token %}
<p class="inputcomment">Your lists will be sorted by the following categories:</p>

<div class="fieldWrapper">
<label for="tvsort1"><span class="sortcategory">TV:</span> 1.</label>
<select name="tvsort1" class="sortmenu">
<option value="name" {% if tvsort1_old == "name" %} selected="selected" {% endif %}>Name</option>
<option value="artist" {% if tvsort1_old == "artist" %} selected="selected" {% endif %}>Studio</option>
<option value="type" {% if tvsort1_old == "type" %} selected="selected" {% endif %}>Type</option>
<option value="comment" {% if tvsort1_old == "comment" %} selected="selected" {% endif %}>Comment</option>
<option value="-rating" {% if tvsort1_old == "-rating" %} selected="selected" {% endif %}>Rating (descending)</option>
<option value="rating" {% if tvsort1_old == "rating" %} selected="selected" {% endif %}>Rating (ascending)</option>
<option value="-finished" {% if tvsort1_old == "-finished" %} selected="selected" {% endif %}>Finished (first)</option>
<option value="finished" {% if tvsort1_old == "finished" %} selected="selected" {% endif %}>Finished (last)</option>
<option value="-created" {% if tvsort1_old == "-created" %} selected="selected" {% endif %}>Time created (descending)</option>
<option value="created" {% if tvsort1_old == "created" %} selected="selected" {% endif %}>Time created (ascending)</option>
<option value="-modified" {% if tvsort1_old == "-modified" %} selected="selected" {% endif %}>Time modified (descending)</option>
<option value="modified" {% if tvsort1_old == "modified" %} selected="selected" {% endif %}>Time modified (ascending)</option>
</select>
</div>

<div class="fieldWrapper">
<label for="tvsort2">2.</label>
<select name="tvsort2" class="sortmenu">
<option value="name" {% if tvsort2_old == "name" %} selected="selected" {% endif %}>Name</option>
<option value="artist" {% if tvsort2_old == "artist" %} selected="selected" {% endif %}>Studio</option>
<option value="type" {% if tvsort2_old == "type" %} selected="selected" {% endif %}>Type</option>
<option value="comment" {% if tvsort2_old == "comment" %} selected="selected" {% endif %}>Comment</option>
<option value="-rating" {% if tvsort2_old == "-rating" %} selected="selected" {% endif %}>Rating (descending)</option>
<option value="rating" {% if tvsort2_old == "rating" %} selected="selected" {% endif %}>Rating (ascending)</option>
<option value="-finished" {% if tvsort2_old == "-finished" %} selected="selected" {% endif %}>Finished (first)</option>
<option value="finished" {% if tvsort2_old == "finished" %} selected="selected" {% endif %}>Finished (last)</option>
<option value="-created" {% if tvsort1_old == "-created" %} selected="selected" {% endif %}>Time created (descending)</option>
<option value="created" {% if tvsort1_old == "created" %} selected="selected" {% endif %}>Time created (ascending)</option>
<option value="-modified" {% if tvsort1_old == "-modified" %} selected="selected" {% endif %}>Time modified (descending)</option>
<option value="modified" {% if tvsort1_old == "modified" %} selected="selected" {% endif %}>Time modified (ascending)</option>
</select>
</div>

<div class="fieldWrapper">
<label for="moviesort1"><span class="sortcategory">Movies:</span> 1.</label>
<select name="moviesort1" class="sortmenu">
<option value="name" {% if moviesort1_old == "name" %} selected="selected" {% endif %}>Name</option>
<option value="artist" {% if moviesort1_old == "artist" %} selected="selected" {% endif %}>Director</option>
<option value="type" {% if moviesort1_old == "type" %} selected="selected" {% endif %}>Type</option>
<option value="comment" {% if moviesort1_old == "comment" %} selected="selected" {% endif %}>Comment</option>
<option value="-rating" {% if moviesort1_old == "-rating" %} selected="selected" {% endif %}>Rating (descending)</option>
<option value="rating" {% if moviesort1_old == "rating" %} selected="selected" {% endif %}>Rating (ascending)</option>
<option value="-created" {% if moviesort1_old == "-created" %} selected="selected" {% endif %}>Time created (descending)</option>
<option value="created" {% if moviesort1_old == "created" %} selected="selected" {% endif %}>Time created (ascending)</option>
<option value="-modified" {% if moviesort1_old == "-modified" %} selected="selected" {% endif %}>Time modified (descending)</option>
<option value="modified" {% if moviesort1_old == "modified" %} selected="selected" {% endif %}>Time modified (ascending)</option>
</select>
</div>

<div class="fieldWrapper">
<label for="moviesort2">2.</label>
<select name="moviesort2" class="sortmenu">
<option value="name" {% if moviesort2_old == "name" %} selected="selected" {% endif %}>Name</option>
<option value="artist" {% if moviesort2_old == "artist" %} selected="selected" {% endif %}>Director</option>
<option value="type" {% if moviesort2_old == "type" %} selected="selected" {% endif %}>Type</option>
<option value="comment" {% if moviesort2_old == "comment" %} selected="selected" {% endif %}>Comment</option>
<option value="-rating" {% if moviesort2_old == "-rating" %} selected="selected" {% endif %}>Rating (descending)</option>
<option value="rating" {% if moviesort2_old == "rating" %} selected="selected" {% endif %}>Rating (ascending)</option>
<option value="-created" {% if moviesort2_old == "-created" %} selected="selected" {% endif %}>Time created (descending)</option>
<option value="created" {% if moviesort2_old == "created" %} selected="selected" {% endif %}>Time created (ascending)</option>
<option value="-modified" {% if moviesort2_old == "-modified" %} selected="selected" {% endif %}>Time modified (descending)</option>
<option value="modified" {% if moviesort2_old == "modified" %} selected="selected" {% endif %}>Time modified (ascending)</option>
</select>
</div>

<div class="fieldWrapper">
<label for="booksort1"><span class="sortcategory">Books:</span> 1.</label>
<select name="booksort1" class="sortmenu">
<option value="name" {% if booksort1_old == "name" %} selected="selected" {% endif %}>Name</option>
<option value="artist" {% if booksort1_old == "artist" %} selected="selected" {% endif %}>Author</option>
<option value="type" {% if booksort1_old == "type" %} selected="selected" {% endif %}>Type</option>
<option value="comment" {% if booksort1_old == "comment" %} selected="selected" {% endif %}>Comment</option>
<option value="-rating" {% if booksort1_old == "-rating" %} selected="selected" {% endif %}>Rating (descending)</option>
<option value="rating" {% if booksort1_old == "rating" %} selected="selected" {% endif %}>Rating (ascending)</option>
<option value="-finished" {% if booksort1_old == "-finished" %} selected="selected" {% endif %}>Finished (first)</option>
<option value="finished" {% if booksort1_old == "finished" %} selected="selected" {% endif %}>Finished (last)</option>
<option value="-created" {% if booksort1_old == "-created" %} selected="selected" {% endif %}>Time created (descending)</option>
<option value="created" {% if booksort1_old == "created" %} selected="selected" {% endif %}>Time created (ascending)</option>
<option value="-modified" {% if booksort1_old == "-modified" %} selected="selected" {% endif %}>Time modified (descending)</option>
<option value="modified" {% if booksort1_old == "modified" %} selected="selected" {% endif %}>Time modified (ascending)</option>
</select>
</div>

<div class="fieldWrapper">
<label for="booksort2">2.</label>
<select name="booksort2" class="sortmenu">
<option value="name" {% if booksort2_old == "name" %} selected="selected" {% endif %}>Name</option>
<option value="artist" {% if booksort2_old == "artist" %} selected="selected" {% endif %}>Author</option>
<option value="type" {% if booksort2_old == "type" %} selected="selected" {% endif %}>Type</option>
<option value="comment" {% if booksort2_old == "comment" %} selected="selected" {% endif %}>Comment</option>
<option value="-rating" {% if booksort2_old == "-rating" %} selected="selected" {% endif %}>Rating (descending)</option>
<option value="rating" {% if booksort2_old == "rating" %} selected="selected" {% endif %}>Rating (ascending)</option>
<option value="-finished" {% if booksort2_old == "-finished" %} selected="selected" {% endif %}>Finished (first)</option>
<option value="finished" {% if booksort2_old == "finished" %} selected="selected" {% endif %}>Finished (last)</option>
<option value="-created" {% if booksort2_old == "-created" %} selected="selected" {% endif %}>Time created (descending)</option>
<option value="created" {% if booksort2_old == "created" %} selected="selected" {% endif %}>Time created (ascending)</option>
<option value="-modified" {% if booksort2_old == "-modified" %} selected="selected" {% endif %}>Time modified (descending)</option>
<option value="modified" {% if booksort2_old == "modified" %} selected="selected" {% endif %}>Time modified (ascending)</option>
</select>
</div>

<div class="fieldWrapper">
<label for="gamesort1"><span class="sortcategory">Games:</span> 1.</label>
<select name="gamesort1" class="sortmenu">
<option value="name" {% if gamesort1_old == "name" %} selected="selected" {% endif %}>Name</option>
<option value="artist" {% if gamesort1_old == "artist" %} selected="selected" {% endif %}>Platform</option>
<option value="type" {% if gamesort1_old == "type" %} selected="selected" {% endif %}>Type</option>
<option value="comment" {% if gamesort1_old == "comment" %} selected="selected" {% endif %}>Comment</option>
<option value="-rating" {% if gamesort1_old == "-rating" %} selected="selected" {% endif %}>Rating (descending)</option>
<option value="rating" {% if gamesort1_old == "rating" %} selected="selected" {% endif %}>Rating (ascending)</option>
<option value="-finished" {% if gamesort1_old == "-finished" %} selected="selected" {% endif %}>Finished (first)</option>
<option value="finished" {% if gamesort1_old == "finished" %} selected="selected" {% endif %}>Finished (last)</option>
<option value="-created" {% if gamesort1_old == "-created" %} selected="selected" {% endif %}>Time created (descending)</option>
<option value="created" {% if gamesort1_old == "created" %} selected="selected" {% endif %}>Time created (ascending)</option>
<option value="-modified" {% if gamesort1_old == "-modified" %} selected="selected" {% endif %}>Time modified (descending)</option>
<option value="modified" {% if gamesort1_old == "modified" %} selected="selected" {% endif %}>Time modified (ascending)</option>
</select>
</div>

<div class="fieldWrapper">
<label for="gamesort2">2.</label>
<select name="gamesort2" class="sortmenu">
<option value="name" {% if gamesort2_old == "name" %} selected="selected" {% endif %}>Name</option>
<option value="artist" {% if gamesort2_old == "artist" %} selected="selected" {% endif %}>Platform</option>
<option value="type" {% if gamesort2_old == "type" %} selected="selected" {% endif %}>Type</option>
<option value="comment" {% if gamesort2_old == "comment" %} selected="selected" {% endif %}>Comment</option>
<option value="-rating" {% if gamesort2_old == "-rating" %} selected="selected" {% endif %}>Rating (descending)</option>
<option value="rating" {% if gamesort2_old == "rating" %} selected="selected" {% endif %}>Rating (ascending)</option>
<option value="-finished" {% if gamesort2_old == "-finished" %} selected="selected" {% endif %}>Finished (first)</option>
<option value="finished" {% if gamesort2_old == "finished" %} selected="selected" {% endif %}>Finished (last)</option>
<option value="-created" {% if gamesort2_old == "-created" %} selected="selected" {% endif %}>Time created (descending)</option>
<option value="created" {% if gamesort2_old == "created" %} selected="selected" {% endif %}>Time created (ascending)</option>
<option value="-modified" {% if gamesort2_old == "-modified" %} selected="selected" {% endif %}>Time modified (descending)</option>
<option value="modified" {% if gamesort2_old == "modified" %} selected="selected" {% endif %}>Time modified (ascending)</option>
</select>
</div>

<div class="fieldWrapper">
<label for="musicsort1"><span class="sortcategory">Music:</span> 1.</label>
<select name="musicsort1" class="sortmenu">
<option value="name" {% if musicsort1_old == "name" %} selected="selected" {% endif %}>Name</option>
<option value="artist" {% if musicsort1_old == "artist" %} selected="selected" {% endif %}>Artist</option>
<option value="type" {% if musicsort1_old == "type" %} selected="selected" {% endif %}>Type</option>
<option value="comment" {% if musicsort1_old == "comment" %} selected="selected" {% endif %}>Comment</option>
<option value="-rating" {% if musicsort1_old == "-rating" %} selected="selected" {% endif %}>Rating (descending)</option>
<option value="rating" {% if musicsort1_old == "rating" %} selected="selected" {% endif %}>Rating (ascending)</option>
<option value="-created" {% if musicsort1_old == "-created" %} selected="selected" {% endif %}>Time created (descending)</option>
<option value="created" {% if musicsort1_old == "created" %} selected="selected" {% endif %}>Time created (ascending)</option>
<option value="-modified" {% if musicsort1_old == "-modified" %} selected="selected" {% endif %}>Time modified (descending)</option>
<option value="modified" {% if musicsort1_old == "modified" %} selected="selected" {% endif %}>Time modified (ascending)</option>
</select>
</div>

<div class="fieldWrapper">
<label for="musicsort2">2.</label>
<select name="musicsort2" class="sortmenu">
<option value="name" {% if musicsort2_old == "name" %} selected="selected" {% endif %}>Name</option>
<option value="artist" {% if musicsort2_old == "artist" %} selected="selected" {% endif %}>Artist</option>
<option value="type" {% if musicsort2_old == "type" %} selected="selected" {% endif %}>Type</option>
<option value="comment" {% if musicsort2_old == "comment" %} selected="selected" {% endif %}>Comment</option>
<option value="-rating" {% if musicsort2_old == "-rating" %} selected="selected" {% endif %}>Rating (descending)</option>
<option value="rating" {% if musicsort2_old == "rating" %} selected="selected" {% endif %}>Rating (ascending)</option>
<option value="-created" {% if musicsort2_old == "-created" %} selected="selected" {% endif %}>Time created (descending)</option>
<option value="created" {% if musicsort2_old == "created" %} selected="selected" {% endif %}>Time created (ascending)</option>
<option value="-modified" {% if musicsort2_old == "-modified" %} selected="selected" {% endif %}>Time modified (descending)</option>
<option value="modified" {% if musicsort2_old == "modified" %} selected="selected" {% endif %}>Time modified (ascending)</option>
</select>
</div>

<p><input name="submit" value="Save" type="submit" />

</form>



</div>
</div>
{% endblock %}
