{% extends 'base.html' %}
{% block body %}

<div class="list">
<h3>
<div class="alignleft"><a href="/~{{ listowner }}">{{ listowner }}</a> : home</div>
</h3>
<div class="nontable" id="userhomecontent">
<img src="{{MEDIA_URL}}{{userpic}}" alt="userpic" id="userpic" />
<h5><p>
tv: <em>{{tvsize}}</em><br />
movies: <em>{{moviesize}}</em><br />
books: <em>{{booksize}}</em><br />
games: <em>{{gamesize}}</em><br />
music: <em>{{musicsize}}</em><br />
</p></h5>
<p class="usertime">Last login: {{ lastlogin }}</p>
<p class="usertime">User since: {{ datejoined }}</p>

{% if link1 or link2 or link3 %}
<hr />
<p>External links:</p>{% endif %}
<big>
{% if link1 %}<p style="clear:both;"><a href="{{ link1 }}">{{ link1 }}</a></p>{% endif %}
{% if link2 %}<p style="clear:both;"><a href="{{ link2 }}">{{ link2 }}</a></p>{% endif %}
{% if link3 %}<p style="clear:both;"><a href="{{ link3 }}">{{ link3 }}</a></p>{% endif %}
</big>




{% if user.is_authenticated %}
{% if user.username == listowner %}
<div class="rightbox">
<p><a href="/~{{ listowner }}/listsort">Customize list sorting</a></p>
<p><a href="/~{{ listowner }}/editlinks">Edit external links</a></p>
<p><a href="/~{{ listowner }}/userpic">Change userpic</a></p>
<p><a href="/accounts/change_password/">Change password</a></p>
<p><a href="/contact/">Contact admin</a></p>
<p><a href="/accounts/logout/?next=/">Logout</a></p>
	<br /><div class="phonehide"><br />
<p>Copy and paste these links to share your lists:</p>
<p><input type="text" onfocus="this.select()" onMouseUp="return false" id="sharelink" readonly="readonly" value="http://whatitdo.herokuapp.com/~{{listowner}}" /></p>
<p><input type="text" onfocus="this.select()" onMouseUp="return false" id="sharelink" readonly="readonly" value="http://whatitdo.herokuapp.com/~{{listowner}}/tv" /></p>
<p><input type="text" onfocus="this.select()" onMouseUp="return false" id="sharelink" readonly="readonly" value="http://whatitdo.herokuapp.com/~{{listowner}}/movies" /></p>
<p><input type="text" onfocus="this.select()" onMouseUp="return false" id="sharelink" readonly="readonly" value="http://whatitdo.herokuapp.com/~{{listowner}}/books" /></p>
<p><input type="text" onfocus="this.select()" onMouseUp="return false" id="sharelink" readonly="readonly" value="http://whatitdo.herokuapp.com/~{{listowner}}/games" /></p>
<p><input type="text" onfocus="this.select()" onMouseUp="return false" id="sharelink" readonly="readonly" value="http://whatitdo.herokuapp.com/~{{listowner}}/music" /></p>
</div>

</div>
{% endif %}
{% endif %}

{% if listowner == "oz" and user.username != "oz" %}
<div class="rightbox" id="demoblurb">
<p>Here's an example of a typical <strong>what.it.do</strong> user's homepage. <span class="mobilehide">Click</span><span class="desktophide">Tap</span> an icon to go to a list!</p>
<p>There are several different ways to use your lists. <br />For example, "oz" here uses his <a href="/~{{listowner}}/games">video game list</a> to catalog his collection by platform, his <a href="/~{{listowner}}/tv">tv list</a> to keep track of which episode he watched last, and his <a href="/~{{listowner}}/music">music list</a> as a "top ten" list.</p>
<p>Fun fact: what.it.do is a responsive website, meaning it displays differently for different window sizes. Try it out! We're optimized for desktop, tablet, and phone sizes.</p>
<p>Questions? Feedback? <a href="/contact/">Hit me up.</a></p>
</div>
{% endif %}

</div>
{% endblock %}
