{% extends 'base.html' %}
{% block body %}
<div class="buttonbar">
	<img src="{{STATIC_URL}}tv80.png" class="buttonoff" alt="tv">
	<img src="{{STATIC_URL}}movies80.png" class="buttonoff" alt="movies">
	<img src="{{STATIC_URL}}books80.png" class="buttonoff" alt="books">
	<img src="{{STATIC_URL}}games80.png" class="buttonoff" alt="games">
	<img src="{{STATIC_URL}}music80.png" class="buttonoff" alt="music">
</div>



<div class="list">
<h3>
<div class="alignleft"></div>
</h3>
<div class="nontable"><h4>Activation complete! Your account is now active.</h4>
</div>
{% endblock %}
