{% extends 'base.html' %}
{% block body %}
<div class="buttonbar">
	<img src="{{STATIC_URL}}tv.png" class="buttonoff" height="70" width="70" alt="tv">
	<img src="{{STATIC_URL}}movies.png" class="buttonoff" height="70" width="70" alt="movies">
	<img src="{{STATIC_URL}}books.png" class="buttonoff" height="70" width="70" alt="books">
	<img src="{{STATIC_URL}}games.png" class="buttonoff" height="70" width="70" alt="games">
	<img src="{{STATIC_URL}}music.png" class="buttonoff" height="70" width="70" alt="music">
</div>



<div class="list">
<h3>
<div class="alignleft"></div>
</h3>
<div class="nontable"><h4>Activation complete! Your account is now active.</h4>
</div>
{% endblock %}
