{% extends 'base.html' %}
{% block body %}
<div class="buttonbar">
	<a href="/~{{user.username}}/tv"><img src="{{STATIC_URL}}tv.png" class="buttonoff" height="70" width="70" alt="tv"></a>
	<a href="/~{{user.username}}/movies"><img src="{{STATIC_URL}}movies.png" class="buttonoff" height="70" width="70" alt="movies"></a>
	<a href="/~{{user.username}}/books"><img src="{{STATIC_URL}}books.png" class="buttonoff" height="70" width="70" alt="books"></a>
	<a href="/~{{user.username}}/games"><img src="{{STATIC_URL}}games.png" class="buttonoff" height="70" width="70" alt="games"></a>
	<a href="/~{{user.username}}/music"><img src="{{STATIC_URL}}music.png" class="buttonoff" height="70" width="70" alt="music"></a>
</div>



<div class="list">
<h3>
<div class="alignleft"><a href="/~{{ user.username }}" style="color: #f2f2f2;">{{ user.username }}</a> : change password</div>
</h3>
<div class="nontable">

<h4><p>Password change successful!</p><br />
<p><small>Redirecting in 5 seconds...</small></p>
</h4>

<script type="text/javascript">
setTimeout("window.location='/~{{user.username}}'",5000);
</script>

</div>
{% endblock %}
