{% extends 'base.html' %}
{% block body %}
<div class="buttonbar">
	<img src="{{STATIC_URL}}tv.png" class="buttonoff" alt="tv">
	<img src="{{STATIC_URL}}movies.png" class="buttonoff" alt="movies">
	<img src="{{STATIC_URL}}books.png" class="buttonoff" alt="books">
	<img src="{{STATIC_URL}}games.png" class="buttonoff" alt="games">
	<img src="{{STATIC_URL}}music.png" class="buttonoff" alt="music">
</div>



<div class="list">
<h3>
<div class="alignleft">reset password</div>
</h3>
<div class="nontable">
<h4>
<p>Your password has been set.</p>
<p><small>Redirecting to <a href="/accounts/login/">login</a> page in 5 seconds...</small>
</p></h4>

<script type="text/javascript">
setTimeout("window.location='/accounts/login/'",5000);
</script>

</div></div>
{% endblock %}