{% extends 'base.html' %}
{% block body %}
<div class="buttonbar">
	<a href="/~{{user.username}}/tv"><img src="{{STATIC_URL}}tv.png" class="buttonoff" alt="tv"></a>
	<a href="/~{{user.username}}/movies"><img src="{{STATIC_URL}}movies.png" class="buttonoff" alt="movies"></a>
	<a href="/~{{user.username}}/books"><img src="{{STATIC_URL}}books.png" class="buttonoff" alt="books"></a>
	<a href="/~{{user.username}}/games"><img src="{{STATIC_URL}}games.png" class="buttonoff" alt="games"></a>
	<a href="/~{{user.username}}/music"><img src="{{STATIC_URL}}music.png" class="buttonoff" alt="music"></a>
</div>



<div class="list">
<h3>
<div class="alignleft"><a href="/~{{ user.username }}" style="color: #f2f2f2;">{{ user.username }}</a> : change password</div>
</h3>
<div class="nontable">
<div class="inputarea">

    <p>{{ form.non_field_errors }}</p>
    <p>{{ form.errors }}</p>
<form action="." method="post">
{% csrf_token %}
	{{ form.as_p }}
	<input type="submit" value="Change Password"/>
</form>	

</div></div>
{% endblock %}