{% extends 'base.html' %}
{% block body %}
<div class="buttonbar">
	<img src="{{STATIC_URL}}tv.png" class="buttonoff" alt="tv">
	<img src="{{STATIC_URL}}movies.png" class="buttonoff" alt="movies">
	<img src="{{STATIC_URL}}books.png" class="buttonoff" alt="books">
	<img src="{{STATIC_URL}}games.png" class="buttonoff" alt="games">
	<img src="{{STATIC_URL}}music.png" class="buttonoff" alt="music">
</div>



<div class="list">
<h3>
<div class="alignleft">reset password</div>
</h3>
<div class="nontable">
 
{% if validlink %}
<div class="inputarea">
    <form action="." method="post">
      {% csrf_token %}
      {{ form.as_p }}
        <p><input type="submit" text="Change Password" />
      </p>
    </form>
</div>
  {% else %}
    <h4><p>Password reset unsuccessful.</p>
    <p><small>The password reset link was invalid, possibly because it already has been
      used. Please <a href="/accounts/reset_password/">request</a> a new password reset.</small></p></h4>
  {% endif %}
 
 
 
</div>
{% endblock %}

